
<% include header %>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 text-center">
        
            <div class="card">
                <div class="card-body">

                    <form action="/insert" method="POST" >
                        <div class="form-group">
                          <label for="email">Type:</label>
                          <select name="type" id="" class="form-control">
                            <option value="C">
                              Credit
                            </option>
                            <option value="D">Debit</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="amount">Amount:</label>
                          <input required type="text" class="form-control" name="amount">
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <textarea required name="description" class="form-control" placeholder="Description" id="" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                      </form>

                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>