  <!-- Bootstrap core JavaScript -->
  <script src="./javascripts/jquery.min.js"></script>
  <script src="./javascripts/bootstrap.bundle.min.js"></script>
  <script src="./javascripts/datatable.jquery.min.js"></script>
  <script src="./javascripts/datatable.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#example').DataTable();
    });
  </script>

</body>

</html>