<% include header %> 

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <div class="card">

          <div class="card-body">


            <h2>Total Amount :<%=final %></h2>
            <p class="text-right">

              <a href="/add" class="btn btn-info btn-sm">
                Add Transaction
              </a>
            </p>

            <table id="example" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                      <th>Sr. No.</th>
                      <th>Date</th>
                      <th>Description</th>
                      <th>Credit</th>
                      <th>Debit</th>
                      <th>Running Balance</th>
                  </tr>
              </thead>
              <tbody>

                <% for(i=0;i<transaction.length;i++){ %>
                  <tr>
                      <td><%=i+1 %></td>
                      <td><%=transaction[i].createdAt %></td>
                      <td><%=transaction[i].description %></td>
                      <% if(transaction[i].type == "C"){ %>
                      <td><%=transaction[i].amount %></td>
                      <td>--</td>
                      <% } %>

                      <% if(transaction[i].type == "D"){ %>
                        <td>--</td>
                        <td><%=transaction[i].amount %></td>
                        <% } %>
                
                      <td><%=transaction[i].running_balance %></td>
                  </tr>
                <% } %>

               
              </tbody>
              <tfoot>
                <tr>
                  <th>Sr. No.</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Credit</th>
                  <th>Debit</th>
                  <th>Running Balance</th>
              </tr>
              </tfoot>
          </table>

          </div>

        </div>

      </div>
    </div>
  </div>

<% include footer %>
